@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --main-text-color: #001432;
  --primary-color: #0163fe;
  --title-color: #022e72;
  --light-color: #667284;
  --white-color: #ffffff;
  --dark-blue-color: #0754cf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #022e72;
  opacity: 0.25;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  line-height: 24px;
  color: var(--title-color);
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
  padding: 12px 16px;
}

.btn_primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn_primary:hover {
  background-color: var(--dark-blue-color);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.popup_makro_card {
  position: absolute;
  max-width: 640px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 4px 20px rgba(0, 18, 45, 0.1);
  border-radius: 4px;
  padding: 16px 24px 24px;
}

.popup_makro_card .btn_close {
  cursor: pointer;
}

.popup_makro_card .btn_close path {
  transition: all 0.4s;
}

.popup_makro_card .btn_close:hover path {
  fill: #b7babe;
}

.popup_makro_card .popup_title_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f4f8;
  padding-bottom: 16px;
}

.popup_makro_card h4 span {
  color: var(--light-color);
  font-weight: 400;
}

.popup_makro_card .popup_text {
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0;
}

.popup_makro_card .cards_wrap {
  max-height: 444px;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 24px;
}

.popup_makro_card .card {
  position: relative;
  display: flex;
  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.4s;
  cursor: pointer;
  padding: 16px 72px 16px 16px;
  margin-top: 8px;
}

.popup_makro_card .checkmark {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.4s;
  opacity: 0;
}

.popup_makro_card .card:hover {
  border-color: #f1f4f8;
}

.popup_makro_card .card:focus {
  box-shadow: 0px 4px 4px rgba(0, 18, 45, 0.1);
  border-radius: 8px;
  border-color: var(--primary-color);
}

.popup_makro_card .card:focus .checkmark {
  opacity: 1;
}

.popup_makro_card .card_img {
  margin-right: 16px;
}

.popup_makro_card .card_img img {
  width: 100px;
  height: 64px;
  border-radius: 4px;
}

.popup_makro_card .card_info p {
  font-size: 13px;
  line-height: 20px;
}

.popup_makro_card .card_details {
  display: flex;
}

.popup_makro_card .card_details p {
  display: flex;
  color: var(--light-color);
}

.popup_makro_card .card_vat {
  position: relative;
  padding-left: 19px;
}

.popup_makro_card .card_vat::before {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  content: '';
  width: 3px;
  height: 3px;
  background-color: var(--light-color);
  border-radius: 50%;
}

.popup_makro_card .submit_block {
  display: flex;
  justify-content: space-between;
}

.popup_makro_card .warning {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.popup_makro_card .warning p {
  color: var(--light-color);
  line-height: 20px;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 1;
  }

  .popup_makro_card {
    padding: 0 16px 16px;
  }

  .popup_makro_card .popup_title_block {
    background-color: #e7f1ff;
    padding: 16px;
    margin: 0 -16px;
  }

  .popup_makro_card .cards_wrap {
    max-height: 388px;
    border-top: 1px solid #f1f4f8;
    border-bottom: 1px solid #f1f4f8;
    padding: 0 16px;
    margin: 0 -16px 24px;
  }

  .popup_makro_card .card {
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: #f1f4f8;
    border-radius: inherit;
    padding: 12px 32px 12px 0;
  }

  .popup_makro_card .card:first-child {
    border-top: none;
    margin-top: 0;
  }

  .popup_makro_card .card:hover {
    border-color: transparent;
  }

  .popup_makro_card .card:focus {
    box-shadow: inherit;
    border-radius: inherit;
    border-color: inherit;
  }

  .popup_makro_card .checkmark {
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    width: 100%;
  }

  .popup_makro_card {
    height: 100%;
    overflow-x: hidden;
  }

  .popup_makro_card .cards_wrap {
    max-height: 480px;
    margin-bottom: 0;
  }

  .popup_makro_card .card_img {
    margin-right: 13px;
  }

  .popup_makro_card .card_img img {
    width: 76px;
    height: 48px;
  }

  .popup_makro_card .card_details {
    display: block;
  }

  .popup_makro_card .card_name span {
    font-size: 13px;
    line-height: 20px;
  }

  .popup_makro_card .card_user {
    margin-bottom: 2px;
  }

  .popup_makro_card .card_vat {
    padding-left: 0;
  }

  .popup_makro_card .card_vat::before {
    display: none;
  }

  .popup_makro_card .submit_block {
    flex-direction: column;
    align-items: center;
  }

  .popup_makro_card .warning {
    padding: 18px 0;
  }

  .popup_makro_card .checkmark {
    top: 12px;
    transform: translateY(0);
  }
}
